#header
  %h1#logo
    %a{ :href => "/" }= @heading
    %small= no_widow @subtitle

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
  = haml :about, :layout => false
  = google_ad( "slot" => 5207675864, "width" => 200, "height" => 200 )

#content
  - @articles.each do |article|
    = haml :summary, :layout => false, :locals => { :article => article, :heading => :h2 }
  = google_ad

